@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,300;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Michroma&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Inter:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#hello {
  color: black;
}
body {
  margin: 0;
  height: 100vh;
  /* overflow-x: hidden; */
}
.landing {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

@media screen and (max-width: 992px) {
  .hero h1 {
    font-size: 3rem;
    line-height: 4rem;
  }
  .girl {
    width: 50%;
    height: 50%;
    margin: auto;
  }
}
.girl {
  width: 25rem;
  height: 25rem;
  margin: auto;
}
.btn {
  margin: auto;
  display: flex;
  flex-direction: column;
}
.btn2 {
  display: flex;
  flex-direction: row;
}
button {
  border-radius: 1.1875rem;
  margin: 1rem;
}
.research {
  width: 174px;
  height: 45px;
  background: #2f2e41;
  border-radius: 19px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}
.library {
  width: 174px;
  height: 45px;
  background: #ffffff;
  border-radius: 19px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;

  color: #2f2e41;
}
.hello {
  width: 100vw;
  height: 100vh;
  background: #2f2e41;
  padding: 0;
  margin: 0;
  /* background-image: url("../public/About us Background.svg"); */
}
.hello h2 {
  top: 100px;
  width: 12rem;
  height: 4rem;
  font-style: normal;
  /* font-weight: 800; */
  font-size: 3rem;
  line-height: 4rem;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}
.hello-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: auto;
}
.image Image {
  width: 26rem;
  height: 22rem;
}
.hello-content p {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 7.5rem;
  font-style: normal;
  /* font-weight: 400; */
  font-size: 1.75rem;
  line-height: 2.125rem;

  color: #ffffff;
  margin-left: auto;
}
.team {
  height: 100vh;
  width: 100vw;
  /* display: flex;
    align-items: center;
    justify-content: ;
    flex-direction: column; */
}
.meet {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}
.meet h2 {
  width: 527px;
  height: 65px;
  /* font-weight: 800; */
  font-size: 54px;
  line-height: 65px;

  color: #000000;
}
.meet p {
  width: 1241px;
  height: 131px;
  font-size: 28px;
  line-height: 34px;

  color: #000000;
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  height: 97.5vh;
  width: 100vw;
  overflow-x: hidden;
}
.landing {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.girl {
  width: 25rem;
  height: 25rem;
  margin: auto;
}
.btn {
  margin: auto;
  display: flex;
  flex-direction: column;
}
.btn2 {
  display: flex;
  flex-direction: row;
}
button {
  border-radius: 1.1875rem;
  margin: 1rem;
}
.research {
  width: 174px;
  height: 45px;
  background: #2f2e41;
  border-radius: 19px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}
.library {
  width: 174px;
  height: 45px;
  background: #ffffff;
  border-radius: 19px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;

  color: #2f2e41;
}
.hello {
  overflow-y: hidden;

  max-width: 99vw;
  height: 100vh;
  background: #2f2e41;
  padding: 0;
  margin: 0;
  background-image: url("../public/About us Background.svg");
}
.hello h2 {
  top: 100px;
  width: 12rem;
  height: 4rem;
  /* font-style: normal; */
  /* font-weight: 800; */
  font-size: 3rem;
  line-height: 4rem;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}
.hello-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: auto;
}
.hello-content p {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 7.5rem;
  /* font-style: normal; */
  /* font-weight: 400; */
  font-size: 1.75rem;
  line-height: 2.125rem;

  color: #ffffff;
  margin-left: auto;
}
.team {
  height: 100vh;
  width: 100%;
  /* display: flex;
  align-items: center;
  flex-direction: column; */
}
.meet {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}
.meet h2 {
  width: 33rem;
  height: 4rem;
  /* font-weight: 800; */
  font-size: 3.375rem;
  line-height: 4rem;
  color: #000000;
}
.meet p {
  overflow-y: hidden;
  width: 77.5rem;
  height: 8.1875rem;
  font-size: 1.75rem;
  line-height: 2.125rem;
  color: #000000;
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card {
  width: 20.25rem;
  height: 27.625rem;
  background: #d9d9d9;
  border-radius: 3.375rem;
  margin: auto;
}
footer {
  width: 97.5vw;
  height: 50vh;
  background-color: #2f2e41;
  margin: 0;
  padding: 10px;
  color: #ffffff;
  /* border-radius: 30px 100px 0 0; */
  display: flex;
  align-items: flex-start;
  /* justify-content: center; */
  flex-direction: column;
  background: #2f2e41;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 58px 58px 0 0;
}
.logos {
  display: flex;
  margin-bottom: auto;
  margin-top: auto;
  /* margin: auto; */
}
@media screen and (max-width: 650px) {
  .hero h1 {
    font-size: 3rem;
    line-height: 4rem;
  }
  .girl {
    width: 50%;
    height: 50%;
    margin: auto;
  }
  .btn2 {
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .book {
    width: 0%;
    height: 0;
  }
  .hello-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
  }
  .hello-content p {
    margin: auto;
    font-style: normal;
    font-size: medium;
    line-height: normal;
  }
  .team {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .meet {
    flex-direction: column;
  }
  .meet p {
    width: 100%;
    font-size: medium;
    line-height: normal;
  }
  .meet h2 {
    width: 100%;
    margin-top: auto;
  }
  .cards {
    flex-direction: column;
    margin-top: 20px;
  }
  .card {
    height: 15rem;
    margin: 5px;
  }
  footer {
    margin-top: auto;
  }
  .card {
    width: 324px;
    height: 442px;
    background: #d9d9d9;
    border-radius: 54px;
    margin: auto;
  }
}
.rese{
  background-color: #2F2E41;
  width: 100%;
}

.cards-grids{
  position : relative;
  width : 1400px;
  display : flex;
  align-items : center;
  justify-content : center;
  padding : 30px;   
  display: grid;
  grid-template: auto auto / repeat(3, 1fr);
  gap: 40px;
}
.auth-img{
  position : absolute;
  width : 260px;
  height : 260px;
  
  top : -40%;
  left: 20px;
  box-shadow : 0 5px 20px rgba(0,0,0,0.2);
  z-index : 1;
}
.cards-grids .card-el{
  margin-top: 50%;
  position: relative;
  max-width : 300px;
  height : 215px;  
  background:linear-gradient(-180deg, rgba(255, 255, 255, 0.5) 0%, rgba(242, 237, 237, 0.811) 100%);
  /* margin : 30px 10px; */
  margin-bottom: 10%;
  margin-left: 25%;
  padding : 20px 15px;
  
  display : flex;
  flex-direction : column;
  box-shadow : 0 5px 20px rgba(132, 75, 128, 0.5);
  transition : 0.3s ease-in-out;
  border-radius : 15px;
}
.cards-grids .card-el:hover {
  height : 320px;    
}
.cards-grids .card-el .se-image{
  width: 300px;
  border-radius : 15px;
}
.cards-grids .card-el .card-content{
  position : relative;
  top : -140px;
  padding : 10px 15px;
  color : #111;
  text-align : center;
  
  visibility : hidden;
  opacity : 0;
  transition : 0.3s ease-in-out;
    
}
.cards-grids .card-el:hover .card-content{
  margin-top : 100%;
  visibility : visible;
  opacity : 1;
  transition-delay: 0.2s;
}
.nav-com{
  display: flex;
  gap: 520px;
}
.header-el{
  color: white;
  font-weight: bold;
  padding-top:7px;
  font-size: 20px;
  padding-left: 16px;
}
.lib-el{
  color: white;
  font-weight: bold;
  font-size: 50px;
  padding-top:3%;
}
